<% provide(:title, "About") %>
<h1>About</h1>
<p class="question">What is Favor Bank?</p>
<p>
  Favor Bank is a social network that makes it easier to request help from people you know.
</p>
<p class="question">How does Favor Bank work?</p>
<p>
  Favor Bank is simple. Use your points to post a favor, wait for someone to accept your request, and mark it as completed after they deliver.
</p>