<footer class="footer">
  <small>
    The Favor Bank
    by <a href="http://www.bradenmugg.com/">Braden Mugg</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>