<footer class="footer">
  <small>
    The Favor Bank
    by <a href="//www.bradenmugg.com/">Braden Mugg</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>